.content-top {
  height: 175px;
}

.chart-container {
  position: absolute;
  height: 100px;
  width: 100%;
}

.chart-legend-item-container {
  display: flex;
  justify-content: space-around;
}

.chart-legend-item {
  display: inline-flex;
  align-items: center;
}

.chart-legend-color-strip {
  height: 6px;
  width: 50px;
  border-radius: 10px;
  margin-left: 5px;
}

img {
  width: 15px;
  height: 15px;
}

.legend-text {
  font-size: 12px;
  height: 12px;
  margin-bottom: 1px;
}

.legend-text-left {
  float: left;
  padding-left: 20px;
}

.legend-text-right {
  float: right;
  padding-right: 10px;
}

.green-border-top {
  border-top: 1px solid #FC625E;
}

.green.activated {
  background-color: #FC625E;
  color: white;
}

.green.segment-button.segment-activated {
  background-color: #FC625E;
  border-color: #FC625E;
  color: white;
}

.green.segment-button:hover:not(.segment-activated) {
  background-color: #FC625E;
}

.green.segment-button {
  border-color: #FC625E;
  color: black;
}
