<div class="content-top">
  <div *ngIf="noData === 'success'">
    <div [attr.id]="chartImgId"></div>
    <div class="chart-container">
      <div [attr.id]="chartId" style="display: none "></div>
      <div id="tip" #tip *ngIf="showTitle"></div>
      <div class="legend-text" *ngIf="showTitle">
        <span class="legend-text-left">{{leftLegendText}}</span>
        <span class="legend-text-right">{{rightLegendText}}</span>
      </div>
    </div>
  </div>
  <div *ngIf="noData === 'fail'" class="no-data-box">
    <img [src]="noDataImg" />
    <p>
      <b>No data present</b>
    </p>
    <p>Add daily data to your health module and view trends here.</p>
  </div>
</div>
