<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Genus Connect</a>
</nav>
<div class="container">
  <div *ngIf="loginActive" class="row" class="login-section">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
          <form>
            <fieldset>
              <div class="form-group">
                <label for="uname">
                  <b>Username</b>
                </label>
                <input class="form-control" placeholder="Enter Username" name="psw" type="text">
              </div>
              <div class="form-group">
                <label for="psw">
                  <b>Password</b>
                </label>
                <input class="form-control" placeholder="Enter password" name="psw" type="password">
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" (click)="login()" value="Login">
              <input class="btn btn-lg btn btn-primary btn-block" type="button" (click)="signupviewActive()" value="Sign up">
              <hr/>
              <div class="forgotPassword">
                <label (click)=forgotPasswordActive()>
                  <b>Forgot Password?</b>
                </label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="signupActive" class="row" class="signup-section">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Create Account</h3>
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" role="form">
            <fieldset>
              <div class="form-group">
                <label for="hname">
                  <b>Username</b>
                </label>
                <input class="form-control" placeholder="Enter Username" name="hname" required type="text">
              </div>
              <div class="form-group">
                <label for="address">
                  <b>Address</b>
                </label>
                <input class="form-control" placeholder="Enter Address" name="address" required type="text">
              </div>
              <div class="form-group">
                <label for="mobile">
                  <b>Mobile No</b>
                </label>
                <input class="form-control" placeholder="Enter Mobile Number" name="mobile" required type="password">
              </div>
              <div class="form-group">
                <label for="password">
                  <b>Password</b>
                </label>
                <input class="form-control" placeholder="Enter Password" name="password" required type="password">
              </div>
              <div class="form-group">
                <label for="password">
                  <b>Confirm Password</b>
                </label>
                <input class="form-control" placeholder="Enter ConfirmPassword" name="password" required type="password">
              </div>
              <input class="btn btn-lg btn-success btn-block" type="submit" (click)="signUp()" value="Create Account">

              <!-- <input class="btn btn-lg btn btn-primary btn-block" type="button" (click)="signupviewActive()" value="Sign up"> -->

            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="forgotPassword" class="row" class="forgotPassword-section">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Please sign in</h3>
        </div>
        <div class="panel-body">
          <form action="/action_page.php">
            <div class="form-group">
                <label for="hname">
                  <b>Username</b>
                </label>
                <input class="form-control" placeholder="Enter Username" name="hname" required type="text">
                <br>
              <input class="btn btn-lg btn-success btn-block" type="submit" (click)="forgot()" value="ResendMyPassword">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
