a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}

.login-section {
  padding-top: 35px !important;
}

.signup-section {
  padding-top: 35px !important;
}

.forgotPassword-section {
  padding-top: 35px !important;
}

.forgotPassword label {
  text-align: center !important;
  display: block !important;
}

.login-htag {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 25px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: -10px;
}

div.sgnp {
  text-align: center;
  margin-bottom: 10px;
}

.spnsign {
  height: 30px;
  width: 80px;
  color: white;
  border-radius: 4px;
  background-color: #488aff;
}
