.left {
    float: left; }

.right {
    float: right; }

.clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
.clearfix:after {
    clear: both; }

.zindex-1 {
    z-index: 1; }

.zindex-2 {
    z-index: 2; }

.zindex-3 {
    z-index: 3; }

.zindex-4 {
    z-index: 4; }

.fixed {
    position: fixed; }

.relative {
    position: relative; }

.absolute {
    position: absolute; }

.text-left {
    text-align: left; }

.text-right {
    text-align: right; }

.text-center {
    text-align: center; }

.text-just {
    text-align: justify; }

.align-top {
    vertical-align: top; }

.align-bottom {
    vertical-align: bottom; }

.align-middle {
    vertical-align: middle; }

.align-baseline {
    vertical-align: baseline; }

.fit {
    max-width: 100%; }

.half-width {
    width: 50%; }

.full-width {
    width: 100%; }

.full-height {
    height: 100%; }

.inline {
    display: inline; }

.block {
    display: block; }

.inline-block {
    display: inline-block; }

.hidden {
    display: none; }

.white {
    color: #fff; }

.gray {
    color: #2c3e50; }

.dark-gray {
    color: #95a5a6; }

.notice {
    color: #3498db; }

.success {
    color: #1abc9c; }

.alert {
    color: #e74c3c; }

.white-bg {
    background-color: #fff; }

.gray-bg {
    background-color: #2c3e50; }

.dark-gray-bg {
    background-color: #95a5a6; }

.notice-bg {
    background-color: #3498db; }

.success-bg {
    background-color: #1abc9c; }

.alert-bg {
    background-color: #e74c3c; }

.bold {
    font-weight: bold; }

.regular {
    font-weight: normal; }

.italic {
    font-style: italic; }

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }

.break-word {
    word-wrap: break-word; }

.no-wrap {
    white-space: nowrap !important; }

.no-bullets, .list-bare {
    list-style: none; }

.bullets-inside {
    list-style: inside; }

.list-bare {
    margin: 0;
    padding: 0; }

.border-all {
    border: 1px solid #ecf0f1; }

.border-top {
    border-top: 1px solid #ecf0f1; }

.border-bottom {
    border-bottom: 1px solid #ecf0f1; }

.border-right {
    border-right: 1px solid #ecf0f1; }
.border-right-none {
    border-right:none !important; }
.border-left {
    border-left: 1px solid #ecf0f1; }

.border-all--dark {
    border: 1px solid #bdc3c7; }

.border-top--dark {
    border-top: 1px solid #bdc3c7; }

.border-bottom--dark {
    border-bottom: 1px solid #bdc3c7; }

.border-right--dark {
    border-right: 1px solid #bdc3c7; }

.border-left--dark {
    border-left: 1px solid #bdc3c7; }

.radius {
    border-radius: 3px; }

.radius-top {
    border-radius: 3px 3px 0 0; }

.radius-right {
    border-radius: 0 3px 3px 0; }

.radius-bottom {
    border-radius: 0 0 3px 3px; }

.radius-left {
    border-radius: 3px 0 0 3px; }

.margin-top-none {
    margin-top: 0; }

.margin-top-quarter {
    margin-top: 0.25em; }

.margin-top-half {
    margin-top: 0.5em; }

.margin-top-one {
    margin-top: 1em; }
.margin-top-none {
    margin-top: 0 !important; }
.margin-top-two {
    margin-top: 2em; }

.margin-top-three {
    margin-top: 3em; }

.margin-top-four {
    margin-top: 4em; }

.margin-bottom-none {
    margin-bottom: 0; }

.margin-bottom-quarter {
    margin-bottom: 0.25em; }

.margin-bottom-half {
    margin-bottom: 0.5em; }

.margin-bottom-one {
    margin-bottom: 1em; }

.margin-bottom-two {
    margin-bottom: 2em; }

.margin-bottom-three {
    margin-bottom: 3em; }

.margin-bottom-four {
    margin-bottom: 4em; }

.margin-right-none {
    margin-right: 0; }

.margin-right-quarter {
    margin-right: 0.25em; }

.margin-right-half {
    margin-right: 0.5em; }

.margin-right-one {
    margin-right: 1em; }

.margin-right-two {
    margin-right: 2em; }

.margin-right-three {
    margin-right: 3em; }

.margin-right-four {
    margin-right: 4em; }

.margin-left-none {
    margin-left: 0; }

.margin-left-quarter {
    margin-left: 0.25em; }

.margin-left-half {
    margin-left: 0.5em; }

.margin-left-one {
    margin-left: 1em; }

.margin-left-two {
    margin-left: 2em; }

.margin-left-three {
    margin-left: 3em; }

.margin-left-four {
    margin-left: 4em; }

.margin-none {
    margin: 0; }

.margin-quarter {
    margin: 0.25em; }

.margin-half {
    margin: 0.5em; }

.margin-one {
    margin: 1em; }

.margin-two {
    margin: 2em; }

.margin-three {
    margin: 3em; }

.margin-four {
    margin: 4em; }

.padding-top-none {
    padding-top: 0; }

.padding-top-quarter {
    padding-top: 0.25em; }

.padding-top-halve {
    padding-top: 0.5em; }

.padding-top-one {
    padding-top: 1em; }

.padding-top-two {
    padding-top: 2em; }

.padding-top-three {
    padding-top: 3em; }

.padding-top-four {
    padding-top: 4em; }

.padding-bottom-none {
    padding-bottom: 0; }

.padding-bottom-quarter {
    padding-bottom: 0.25em; }

.padding-bottom-halve {
    padding-bottom: 0.5em; }

.padding-bottom-one {
    padding-bottom: 1em; }

.padding-bottom-two {
    padding-bottom: 2em; }

.padding-bottom-three {
    padding-bottom: 3em; }

.padding-bottom-four {
    padding-bottom: 4em; }

.padding-right-none {
    padding-right: 0; }

.padding-right-quarter {
    padding-right: 0.25em; }

.padding-right-halve {
    padding-right: 0.5em; }

.padding-right-one {
    padding-right: 1em; }

.padding-right-two {
    padding-right: 2em; }

.padding-right-three {
    padding-right: 3em; }

.padding-right-four {
    padding-right: 4em; }

.padding-left-none {
    padding-left: 0; }

.padding-left-quarter {
    padding-left: 0.25em; }

.padding-left-halve {
    padding-left: 0.5em; }

.padding-left-one {
    padding-left: 1em; }

.padding-left-two {
    padding-left: 2em; }

.padding-left-three {
    padding-left: 3em; }

.padding-left-four {
    padding-left: 4em; }

.padding-none {
    padding: 0; }

.padding-quarter {
    padding: 0.25em; }

.padding-halve {
    padding: 0.5em; }

.padding-one {
    padding: 1em; }

.padding-two {
    padding: 2em; }

.padding-three {
    padding: 3em; }

.padding-four {
    padding: 4em; }

/*# sourceMappingURL=helpers.css.map */