.h30{
  height: 30px !important;
}
.no-margin{
  margin: 0 !important;
}
.m-b-20{
  margin-bottom: 20px !important;
}
.m-b-30{
  margin-bottom: 30px !important;
}
.logo{
  overflow: hidden;
  display: flex;
  justify-content: flex-start;
  text-align: left;
}
.section-01,.section-02,.section-03{
  border: 1px solid #cccccc !important;
}
.section-01 .logo img{
  width: 100%;
}
.section-01 .headings{
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: self-start;
}
.sub-header-bg{
  background-color: #f16160;
  color: white;
  font-size: medium;
}
@media print {
  .sub-header-bg{
    background-color: #f16160 !important;
    color: white;
    font-size: medium;
    -webkit-print-color-adjust: exact;
  }
}
.p-t-10{
  padding-top: 10px !important;
}
.p-l-10{
  padding-left: 10px !important;
}
.p-l-30{
  padding-left: 20px !important;
}
.p-l-r-15{
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.pl-pb{
  padding-top: 8px;
  padding-bottom: 8px;
}
.p15{
  padding: 15px !important;
}
.text-center{
  text-align: center !important;
}
/* -- Section -- */
.flex-Box-Container{
  display: flex;
  justify-content: center;
}
.align-center-item{
  justify-content: space-around !important;
  align-items: center !important;
}
.flex-Box-Container>div{
  width: 100%;
}
.align-row{
  flex-direction: row !important;
}
.align-col{
  flex-direction: column !important;
}
.flex-1{
  flex:1 !important;
}
.flex-2{
  flex:2 !important;
}


/* -- Current Info Section --*/
.current-Info,.vitals-info{
  min-height: 150px !important;
  font-size: medium;
}

.data-chart{
  min-height: 200px;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #ecf0f1;
  border-top: 1px solid #ecf0f1;
}
.geuns_info{
  border: 1px solid #cccccc;
  border-radius: 25px;
  padding: 15px !important;
}
.tbl-row{
  height: 45px !important;
}
.tbl-head-color{
  background-color: #f16160;
  color: white;
}
table, td, th {
  border: 1px solid #ecf0f1;
  padding: 8px;
}
.vital-start{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.vital-end{
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
