body{
  color: black !important;
  background-color: white !important;
  font-size:18px !important;
  font-family: serif !important;
}
.row:before, .row:after {display: none !important;}
.h30{
    height: 30px !important;
  }
  .no-margin{
    margin: 0 !important;
  }
  .m-b-20{
    margin-bottom: 20px !important;
  }
  .m-b-30{
    margin-bottom: 30px !important;
  }
  .m
  .logo{
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    text-align: left;
  }
  .section-01,.section-02,.section-03{
    border: 1px solid #cccccc !important;
  }
  .section-01 .logo img{
    width: 100%;
  }
  .section-01 .headings{
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
  }
  .sub-header-bg{
    background-color: #f16160;
    color: white;
    font-size: medium;
  }
  .p-t-10{
    padding-top: 10px !important;
  }
  .p-l-10{
    padding-left: 10px !important;
  }
  .p-l-30{
    padding-left: 20px !important;
  }
  .p-l-r-15{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .pl-pb{
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .p15{
    padding: 15px !important;
  }
  .text-center{
    text-align: center !important;
  }
  .text-bold{
    font-weight: 700;
  }
.text-color{
  color: white;
}
.text-title{
  font-weight: 700;
  padding: 9px;
  text-align: center !important;
}
  table {
      border-collapse: collapse;
  }

  table, td, th {
      border: 1px solid black;
  }
  /* -- Section -- */
  .flex-Box-Container{
    display: flex;
    justify-content: center;
  }
  .align-center-item{
    justify-content: space-around !important;
    align-items: center !important;
  }
  .flex-Box-Container>div{
    width: 100%;
  }
  .align-row{
    flex-direction: row !important;
  }
  .align-col{
    flex-direction: column !important;
  }
  .flex-1{
    flex:1 !important;
  }
  .flex-2{
    flex:2 !important;
  }


  /* -- Current Info Section --*/
  .current-Info,.vitals-info{
    min-height: 150px !important;
    font-size: medium;
  }
  /* -- Observation Section --*/
  .Observation{
    /*border: 1px solid #cccccc;*/
  }
  .data-chart{
    min-height: 200px;
    text-align: center;
  }
  .data-chart-border > div{
    border: 2px solid #f16160;
  }
  .geuns_info{
    border: 1px solid #f16160;
    padding: 15px;
    border-radius: 14px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .min_height{
        min-height: 40px;
  }
  .tbl-row{
    height: 45px !important;
  }
  .tbl-head-color{
    background-color: #f16160;
    color: white;
  }
  table, td, th {
    border: 1px solid #ecf0f1;
    padding: 8px;
  }
  .vital-start{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .vital-end{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
  }
  
  
     
  

