<!-- <style type="text/css" media="print">
  .pagebreak {
    page-break-before: always;
  }
</style> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Genus Connect</a>
  <button (click)="logout()">Logout</button>
  <button (click)="print()">print</button>
</nav> -->

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid" style="margin:10px ;">
    <div class="navbar-header">
      <a class="navbar-brand">Genus Connect</a>
    </div>
    <ul class="nav navbar-nav">

    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-primary navbar-btn" (click)="back()">Back</button>
      <li><button type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-log-in"></span>Logout</button></li>
    </ul>
  </div>
</nav>  -->

<body style="margin: 35px 20px;width: 800px">
<div class="col-4" style="text-align: end">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
            Share
          </button>
          <button type="button" class="btn btn-primary" (click)="generatePdf()">
            Download PDF
          </button>
</div>
<div id="printSection"  #printSection  class="container">
  <!-- 01 -->
  <!-- 01 -->
  <div class="row border-bottom m-b-30">
    <div class="col-8">
     <div class="row">
       <div class="col-md-4 col-sm-12" style="margin-bottom: 10px">
          <img src="assets/img/logo.png" width="150px" />
       </div>
       <div class="col-md-8 col-sm-12">
          <h4 class='no-margin'>
              <b>Care Plan Summary</b>
            </h4>
            <h5>Last Updated : {{_currentDate}}</h5>
        </div>
     </div>
    </div>
    <div class="col-4" style="text-align: end">
        
    </div>
  </div>

<div class="row" style="border: 2px solid #f16160;border-top-left-radius: 8px;border-top-right-radius: 8px;display: block;" *ngFor="let item of PersonalData"><!--*ngFor="let item of PersonalData" -->
      
  <div class="col-12" >
    <div class="row" style="border-bottom: 1px solid #f16160;">
        <div class="col-5 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;height: 35px;">
            Petient Information
        </div>
        <div class="col-5" style="border-right: 1px solid #f16160;">
            Name: {{item.firstName+' '+item.lastName}}
        </div>
        <div class="col-2">
        </div>
    </div>
  </div>  
  <div class="col-12">
    <div class="row">
        <div class="col-2" style="border-right: 1px solid #f16160;">
          {{_currentDate}}
        </div>
        <div class="col-3" style="border-right: 1px solid #f16160;">
            Height: <br>{{item.height * 0.0254 | number: '1.2-2'}}m
        </div>
        <div class="col-3" style="border-right: 1px solid #f16160;">
          Blood Type: <br> {{item.bloodType}}
        </div>
        <div class="col-2" style="border-right: 1px solid #f16160;">
          Weight: <br> {{item.weight * 0.4536 | number: '1.2-2'}}kg
        </div>
        <div class="col-2">
          BMI: <br> {{item.bmi | number: '1.2-2'}}
        </div>
      </div>
  </div>     
</div> 
<div class="row" style="background-color: #f16160;border: 1px solid #f16160">
    <div class="col-12">
      <p class="text-title no-margin">Current Information</p>
    </div>
    <div class="col-12" style="padding-right: 0">
      <div class="col-12 current-Info padding-one" style="background-color: white;">
        <p>
          <b>Allergies: </b>{{_currentInformation.allergy}}</p>
        <p>
          <b>Medical Conditions: </b>{{_currentInformation.medical_conditions}}</p>
        <p>
          <b>Current Medicines: </b>{{_currentInformation.current_medicines}}</p>
        <p>
          <b>Medical Devices: </b>{{_currentInformation.medical_devices}}</p>
      </div>
    </div>
    <div class="col-12">
      <p class="text-title no-margin ">Obeservations</p>
    </div>
    <div class="col-12" style="padding-right: 0">
      <div class="col-12 current-Info padding-one" style="background-color: white;">
        <div class="row" style="margin: inherit;">
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <p class="text-center  text-bold no-margin">Emotional</p>
               </div>
            </div>
            <div class="row data-chart-border">
               <div class="col-6">
                  <p class="text-center text-bold">
                    Mood
                  </p>
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Mood'" [chartId]="'observation-new-chart-1'"></app-observationchart>
                    <!-- <app-observationchart></app-observationchart> //-->
                  </div>
               </div> 
               <div class="col-6">
                  <p class="text-center text-bold">
                    Social
                  </p>
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Social'" [chartId]="'observation-new-chart-2'"></app-observationchart>
                  </div>
               </div> 
             </div>
          </div>
          <div class="col-6">
            <div class="row">
              <div class="col-12">
                <p class="text-center no-margin text-bold">Physical</p>
               </div>
            </div>
            <div class="row data-chart-border">
               <div class="col-6">
                  <p class="text-center text-bold">
                    Pain
                  </p>
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Pain'" [chartId]="'observation-new-chart-3'"></app-observationchart>
                  </div>
               </div> 
               <div class="col-6">
                  <p class="text-center text-bold">
                    Mobility
                  </p>
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Mobility'" [chartId]="'observation-new-chart-4'"></app-observationchart>
                  </div>
               </div> 
             </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-12">
      <p class="no-margin text-title">Historical Data</p>
    </div>
    <div class="col-12" style="padding-right: 0">
      <div class="col-12 current-Info padding-one" style="background-color: white;">
        <div class="row data-chart-border" style="margin: inherit;">
               <div class="col-3">
                  <p class="text-center text-bold">
                    HR / BP
                  </p>
                  <div class="data-chart">
                    <!-- <div [hidden]="hrHistoryChart.length == 0"> -->
                        <img src="assets/icons/HeartRateIcon.svg"  style="transform: translate(0%,60%);width: 50px;"/>
                    <!-- </div> -->
                    <!-- <app-newchart [chartData]="hrHistoryChart"></app-newchart> -->
                    <div style="transform: translate(0%,100%);">
                      <p style="font-weight:bold;">No Data Present</p>
                      <p>Add daily data to your health module and view trends here. </p>
                    </div>
                  </div>
               </div> 
               <div class="col-3">
                  <p class="text-center text-bold">
                    TEMPERATURE
                  </p>
                  <div class="data-chart">
                    <img src="assets/icons/Temperature.svg" style="transform: translate(0%,60%);width: 50px;"/>
                    <!-- <app-newchart [chartData]="btempHistoryChart"></app-newchart> -->
                    <div style="transform: translate(0%,100%);">
                      <p style="font-weight:bold;">No Data Present</p>
                      <p>Add daily data to your health module and view trends here. </p>
                    </div>
                  </div>
               </div> 
                <div class="col-3">
                  <p class="text-center text-bold">
                    OXYGEN LEVEL
                  </p>
                  <div class="data-chart">
                      <img src="assets/icons/PulseO2.svg" style="transform: translate(0%,60%);width: 50px;"/>
                    <!-- <app-newchart [chartData]="olHistoryChart"></app-newchart> -->
                    <div style="transform: translate(0%,100%);">
                      <p style="font-weight:bold;">No Data Present</p>
                      <p>Add daily data to your health module and view trends here. </p>
                    </div>
                  </div>
               </div> 
                <div class="col-3">
                  <p class="text-center text-bold">
                    GLUCOSE
                  </p>
                  <div class="data-chart">
                      <img src="assets/icons/Glucose.svg" style="transform: translate(0%,60%);width: 50px;"/>
                    <!-- <app-newchart [chartData]="glHistoryChart"></app-newchart> -->
                    <div style="transform: translate(0%,100%);">
                      <p style="font-weight:bold;">No Data Present</p>
                      <p>Add daily data to your health module and view trends here. </p>
                    </div>
                  </div>
               </div> 
        </div>
      </div>
    </div>
    <div class="col-12">
      <p class="no-margin text-title">Vitals</p>
    </div>
    <div class="col-12" style="padding-right: 0">
      <div class="col-12 current-Info padding-one" style="background-color: white;">
        
          <p>
            <b>Surgical History:</b>
            <span *ngFor="let item of surgeriesInfo; let i=index">{{i > 0 ? ',' : ''}} {{item.name}} </span>
          </p>

          <p>
            <b>Doctors Visits:</b> {{_currentInformation.medical_visit}}</p>
          <p>
            <b>Family History:</b> {{_currentInformation.medical_conditions}}</p>
        <div class="row">
          <div class="col-6">
            <label><input type="checkbox" checked="true">&nbsp;Medical Documents</label>
          </div>
          <div class="col-6">
            <label><input type="checkbox" checked="true">&nbsp;Insurance Information</label>
          </div>
        </div>
        <div>
          <span>(See the following pages for more information on each of the categories shown above)</span>
       </div>
      </div>
    </div>

  </div>
  <div class="row geuns_info"> 
     <span> genus<sup>TM</sup> empowers caregivers with an open platform for connected care. A variety of resources, technologies and providers make it possible to collaborate and share important information resulting in the best possible care for your loved one in need.</span>
  </div>

  <!-- 07-->
  <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
        
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-5 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Allergies & Adverse Reactions
          </div>
          <div class="col-5 text-bold" style="border-right: 1px solid #f16160;">
              Symptom 
          </div>
          <div class="col-2 text-bold">
             Treatment
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" > 
          <div class="col-5" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-5" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="allergy.length != 0">
          <div class="col-5" style="border-right: 1px solid #f16160;">
            Foodallergies
          </div>
          <div class="col-5 " style="border-right: 1px solid #f16160;">
              Shock
          </div>
          <div class="col-2 ">
            Epi pen
          </div>
      </div>
      <div class="row">
        
        <span>&nbsp; &nbsp;Be sure to list all known allergies including those to food and medications.</span>
   
      </div>
    </div>     
  </div> 

  <!-- Medical condition -->

  <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-5 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Medical Conditions
          </div>
          <div class="col-5 text-bold" style="border-right: 1px solid #f16160;">
              Physician
          </div>
          <div class="col-2 text-bold">
              Treatment
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="medicalConditionInfo.length == 0" >
          <div class="col-5" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-5" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of medicalConditionInfo">
          <div class="col-5" style="border-right: 1px solid #f16160;">
            {{item.name}}
          </div>
          <div class="col-5" style="border-right: 1px solid #f16160;">
            {{item.physicianTreating}}
          </div>
          <div class="col-2">
            {{item.speciality}}
          </div>
      </div>
      <div class="row">
        <span>&nbsp; &nbsp;Help your care professionals provide better care by listing all known medical conditions.</span>
      </div>
    </div>     
  </div> 

  <!-- Current Medicines-->
  <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-3 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Current Medicines
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Dosage
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Frequency
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Prescribed by
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Reason
          </div>
          <div class="col-1 text-bold">
              Refill
          </div>

      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="medicationInfo.length == 0">
          <div class="col-3" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-1">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of medicationInfo">
          <div class="col-3" style="border-right: 1px solid #f16160;">
            {{item.name}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.dose}}
          </div>
          <div class="col-2">
            {{item.frequency}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.issuedBy}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.purpose}}
          </div>
          <div class="col-1" style="border-right: 1px solid #f16160;">
            {{item.refillDate | date:"MM/dd/yyyy"}}
          </div>
      </div>
      <div class="row">
        <span>&nbsp; &nbsp;Help prevent medicine conflicts. Report all current medications to your care professionals.</span>
      </div>
    </div>     
  </div> 


    <!-- Medical Devices-->

  <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-5 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Medical Devices
          </div>
          <div class="col-5 text-bold" style="border-right: 1px solid #f16160;">
              Prescribed by
          </div>
          <div class="col-2 text-bold">
              Reason
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="treatmentArray.length == 0">
          <div class="col-5" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-5" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of treatmentArray">
          <div class="col-5" style="border-right: 1px solid #f16160;">
            {{item.name}}
          </div>
          <div class="col-5" style="border-right: 1px solid #f16160;">
            {{item.assignedBy}}
          </div>
          <div class="col-2">
            {{item.practice}}
          </div>
      </div>
      <div class="row">
        <span>&nbsp; &nbsp;See
            <a href="#">genusconnect.org/devices</a> for more information on device connectivity.</span>
      </div>
    </div>     
  </div> 

    <!--vital Part -->


    <!-- Surgical History : -->
<div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-top: 0px solid #f16160;">
        <div class="col-6 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Surgical History
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Physician
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Date
          </div>
          <div class="col-2 text-bold">
              Location
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="surgeriesInfo.length == 0" >
          <div class="col-6" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of surgeriesInfo">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            {{item.name}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.doctor}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.time | date:"MM/dd/yyyy"}}
          </div>
          <div class="col-2">
            {{item.hospital}}
          </div>
      </div>
    </div>     
  </div> 

    <!--Physician Information-->
    <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-6 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Physician Information
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Specialty
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Phone
          </div>
          <div class="col-2 text-bold">
              Address
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="physicianData.length == 0">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of physicianData">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            {{item.name}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.practice}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.phone}}
          </div>
          <div class="col-2">
            {{item.address}}
          </div>
      </div>
    </div>     
  </div> 

    <!--Family History-->
    <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-6 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Family History
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Relationship
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Age Diagnosed
          </div>
          <div class="col-2 text-bold">
              Status
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngIf="familyHistroydata.length == 0">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of familyHistroydata">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            {{item.medicalCondition}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.familyMember}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.age}}
          </div>
          <div class="col-2">
            {{item.livingStatus}}
          </div>
      </div>
    </div>     
  </div> 


<div class="row" style="background-color: #f16160;border: 2px solid #f16160;margin-top:20px;border-radius: 10px">
    
  <div class="col-12 text-color" style="border-bottom:2px solid;padding: 5px;">
              <b style="color:black"> Vital Signs </b>
  </div>
  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Heart Rate :-</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="heartRateChart[0]"></app-newchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="heartRateChart[1]"></app-newchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="heartRateChart[2]"></app-newchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Blood Pressure :-</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-bpchart [chartType]="'weekly'" [chartId]="'bp-chart-weekly'"></app-bpchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-bpchart [chartType]="'monthly'" [chartId]="'bp-chart-monthly'"></app-bpchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-bpchart [chartType]="'yearly'" [chartId]="'bp-chart-yearly'"></app-bpchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Respiratory Rate :-</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="respiratoryChart[0]"></app-newchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="respiratoryChart[1]"></app-newchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                     <app-newchart [chartData]="respiratoryChart[2]"></app-newchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Oxygen Level :-</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="oxygenLevelChart[0]"></app-newchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="oxygenLevelChart[1]"></app-newchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="oxygenLevelChart[2]"></app-newchart>
                  </div>
               </div> 
        </div>
  </div>
  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Glucose :-</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="glucoselevelChart[0]"></app-newchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="glucoselevelChart[1]"></app-newchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="glucoselevelChart[2]"></app-newchart>
                  </div>
               </div> 
        </div>
  </div>
  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Temperature :-</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="BodyTemperatureChart[0]"></app-newchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="BodyTemperatureChart[1]"></app-newchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-newchart [chartData]="BodyTemperatureChart[2]"></app-newchart>
                  </div>
               </div> 
        </div>
  </div>
  <div class="col-12" style="padding: 0;background-color: white;border: 1px solid red;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;">
    <div class="row" style="margin: inherit;padding: 5px;">
      <p> Vital signs are collected both manually from caregivers and from any genus<sup>TM</sup> compatible device. As an open platform, genus<sup>TM</sup> will be open to new devices as they become available. Ask your medical professional or go to <a href="#">genusconnect.org/devices</a> for a complete list.</p>
    </div>
  </div>

</div>

  <!-- Emotional Observation -->
<div class="row" style="background-color: #f16160;border: 2px solid #f16160;margin-top:20px;border-radius: 10px;">
    
  <div class="col-12 text-color" style="border-bottom:2px solid;padding: 5px;">
            <b style="color:black">  Emotional Observations </b>
  </div>
  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Social</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Social'" [chartId]="'observation-new-chart-5'"></app-observationchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'monthly'" [chartType]="'Social'" [chartId]="'observation-new-chart-6'"></app-observationchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'yearly'" [chartType]="'Social'" [chartId]="'observation-new-chart-7'"></app-observationchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Mood</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Mood'" [chartId]="'observation-new-chart-8'"></app-observationchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'monthly'" [chartType]="'Mood'" [chartId]="'observation-new-chart-9'"></app-observationchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'yearly'" [chartType]="'Mood'" [chartId]="'observation-new-chart-10'"></app-observationchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12" style="padding: 0;background-color: white;border: 1px solid red;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;">
    
    <div class="row" style="margin: inherit;padding: 5px;">
       <p> Observations are care network opinions that can be filtered by type and caregiver. Observations help provide a visual summary on the emotional status of the person of care.</p>
        <div class="margin-top-two">
        <img src="assets/img/emotional.png" width="35%">
      </div>
      <div class="margin-top-two">
        <p>Ask your medical professional what elements of care they would like to monitor.</p>
      </div>
    </div>

  </div>

</div>


  <!-- Physical Observations-->

<div class="row" style="background-color: #f16160;border: 2px solid #f16160;margin-top:20px;border-radius: 10px;">
    
  <div class="col-12 text-color" style="border-bottom:2px solid;padding: 5px;">
             <b style="color:black"> Physical Observations</b>
  </div>
  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Pain</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Pain'" [chartId]="'observation-new-chart-11'"></app-observationchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'monthly'" [chartType]="'Pain'" [chartId]="'observation-new-chart-12'"></app-observationchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'yearly'" [chartType]="'Pain'" [chartId]="'observation-new-chart-13'"></app-observationchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12 text-color text-center" style="border-bottom:1px solid;padding: 5px;">
              <b style="color:black">Mobility</b>
  </div>
  <div class="col-12" style="padding: 0">
        <div class="row " style="margin: inherit;">
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 WEEK
                  </p>
               </div> 
               <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    1 MONTH
                  </p>
               </div> 
                <div class="col-4">
                  <p class="text-center text-color" style="margin: 5px !important;">
                    6 MONTHS
                  </p>
               </div> 
        </div>
        <div class="row data-chart-border" style="margin: inherit;background-color: white;">
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'weekly'" [chartType]="'Mobility'" [chartId]="'observation-new-chart-14'"></app-observationchart>
                  </div>
               </div> 
               <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'monthly'" [chartType]="'Mobility'" [chartId]="'observation-new-chart-15'"></app-observationchart>
                  </div>
               </div> 
                <div class="col-4">
                  <div class="data-chart">
                    <app-observationchart [period]="'yearly'" [chartType]="'Mobility'" [chartId]="'observation-new-chart-16'"></app-observationchart>
                  </div>
               </div> 
        </div>
  </div>

  <div class="col-12" style="padding: 0;background-color: white;border: 1px solid red;border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;">
    
    <div class="row" style="margin: inherit;padding: 5px;">
       <p> Observations are care network opinions that can be filtered by type and caregiver. Observations help provide a visual summary on the physical status of the person of care.</p>
        <div class="margin-top-two">
        <img src="assets/img/physical.png" width="35%">
      </div>
      <div class="margin-top-two">
        <p>Ask your medical professional what elements of care they would like to monitor.</p>
      </div>
    </div>

  </div>

</div>


  <!-- Mood -->
 
  
  <!--Emergency Contacts-->

  <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-6 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Emergency Contacts
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Phone (home)
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Phone (mobile)
          </div>
          <div class="col-2 text-bold">
              Phone (work)
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" >
          <div class="col-6" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of emergencyContactInfo">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            {{item.firstName}} {{item.lastName}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.phoneNumber}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.phoneNumber2}}
          </div>
          <div class="col-2">
            &nbsp;
          </div>
      </div>
    </div>     
  </div> 

  <!--Medical Documents-->
  <div class="row" style="border: 1px solid #f16160; display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-6 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Medical Documents
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Document Date
          </div>
          <div class="col-4 text-bold">
              Who has this document
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" >
          <div class="col-6" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of medicaldocument">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            {{item.type}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.time | date:"MM/dd/yyyy"}}
          </div>
          <div class="col-2">
            {{item.reportedByName}}
          </div>
      </div>
    </div>     
  </div>

  <!--Insurance Information-->
 <div class="row" style="border: 1px solid #f16160;display: block;margin-top: 27px;">
    <div class="col-12" >
      <div class="row min_height" style="border-bottom: 1px solid #f16160;">
          <div class="col-6 text-color" style="border-right: 1px solid #f16160;background-color: #f16160;border-top-right-radius: 8px;">
              Insurance Information
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Type
          </div>
          <div class="col-2 text-bold" style="border-right: 1px solid #f16160;">
              Holder
          </div>
          <div class="col-2 text-bold">
              Issue Date
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" >
          <div class="col-6" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
              &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
          <div class="col-2">
            &nbsp;&nbsp;&nbsp;&nbsp;
          </div>
      </div>
      <div class="row" style="border-bottom: 1px solid #f16160;" *ngFor="let item of insurancelistData">
          <div class="col-6" style="border-right: 1px solid #f16160;">
            {{item.comapnyName}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.type}}
          </div>
          <div class="col-2" style="border-right: 1px solid #f16160;">
            {{item.comapnyName}}
          </div>
          <div class="col-2">
            {{item.issueDate|date:'MMM dd yyyy'}}
          </div>
      </div>
    </div>     
  </div> 

  <div class="row geuns_info"> 
    <p> About genus <br/></p>
    
     <span> genus<sup>TM</sup>  is an open platform for connected care. Bringing the latest technology, services and resources together. Professional care providers may be invited into care communities to help provide better levels of care and off site oversight and management. If your care professional is interested in participating, they may enroll at <a href="#">genusconnect.org/care</a>
Being a care advocate . Being a good care advocate, whether for yourself for someone you love, is one an important responsibility and
opportunity. You've already taken a big first step by organizing important medical information so that you can effectively communicate progress, concerns and needs. The style in which you communicate with your health care professional is equally important. Arrive on time and be a good listener. While it's good to research possible conditions, be ready to listen to all insights being shared. A good care advocate does three things:</span>
<div>
    <ol>
      
      <li>Is prepared and informed.</li>
      <li> Listens, takes notes and shares important information with other care givers and follows through.</li>
      <li>follows through on care advice and coordinates with other professionals and caregivers.</li>
    </ol>
  </div>
  <p>
    For more information on bing the best care giver. Visit <a href="#">genusconnect.org/advocate</a> for tips and additional articles.
  </p>
  <p>
    <b>Questions to Ask Source:</b> usnews.com/health - article by Amir Kahn - 09/25/14 - “10 Questions doctors wish their patients would ask?”
  </p>
<div>
  <ul>
    <li>Can I share what I found? I Googled some of the symptoms, I promise to keep an open mind and hear your insights after sharing
the facts.</li>
<li>Where do you recommend I go to learn more about what you’ve shared with me?</li>
<li>What can we work on and do before our next visit?</li>
<li>What are some suggestions you have for preventing this from happening again?</li>
<li>Can you explain to me why ____________________ medication is being prescribed?</li>
<li>Do you treat many patients with these conditions? What seems to work best?</li>
<li>When should we see you again?</li>
  </ul>

</div>



  </div>


  <div class="row geuns_info"> 
     <span> Be sure to write down important notes when meeting with care professionals. The sooner you document them the better. Important items can easily be forgotten after leaving the doctors office. Having notes to refer to can save time when trying to remember what was discussed during a visit with your doctor.</span>
     <p>
     <br/>
      <b> Notes</b>
     </p>
  </div>
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">CareReport Sharing</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form #shareForm="ngForm">
            <div class="form-group">
              <label for="email">Email:</label>
              <input type="email" class="form-control" name="emailId" [(ngModel)]="toEmail" #emailId="ngModel">
            </div>
            <button type="button" (click)="share()" class="btn btn-success" data-dismiss="modal">Share</button>
          </form>
        </div>


        <!-- Modal footer -->
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-danger" data-dismiss="modal">Submit</button> -->
        </div>

      </div>
    </div>
  </div>
</div>
</body>