a:not([href]):not([tabindex]) {
  color: white;
  text-decoration: none;
}

@media (min-width: 992px) {
  .navbar-expand-lg {
    justify-content: space-between !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
    text-align: center;
  }
}

button,
select {
  text-transform: none;
  background-color: grey;
  margin-top: 10px;
}

.table-bordered thead th,
.table-bordered thead td {
  border-bottom-width: 2px;
  text-align: center;
}

.h2-dash {
  text-align: center;
}

.errorMsg {
  text-align: center;
  color: red;
  font-size: 20px;
}

.button-indicator{
  height: 32px;
  width: 32px;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
