<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand">Genus Connect</a>
  <button (click)="logout()">Logout</button>
</nav> -->

<!-- <nav class="navbar navbar-inverse">
  <div class="container-fluid" style="margin:10px ;">
    <div class="navbar-header">
      <a class="navbar-brand">Genus Connect</a>
    </div>
    <ul class="nav navbar-nav">
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <button class="btn btn-primary navbar-btn" (click)="logout()">Logout</button>-->
      <!-- <li><button type="button" class="btn btn-primary" ><span class="glyphicon glyphicon-log-in"></span>Logout</button></li> -->
    <!-- </ul>
  </div>
</nav>  -->


<!-- <div id="print-section">
  your html stuff that you want to print
</div> -->

<!-- <div class="container-fluid">
  <h2 class="h2-dash">Welcome Apollo Hospital</h2>
  <h4 *ngIf="loadingText" class="errorMsg">{{loadingText}}</h4>
  <h4 *ngIf="errorMessage" class="errorMsg">{{errorMessage}}</h4>
  <table class="table table-bordered table-lg">
    <thead>
      <tr>
        <th>S.No</th>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
        <th>Report</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of hospitalData ; let i = index">
        <td>{{i+1}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.email}}</td>
        <td>
          <button class="btn btn-primary" (click)="getHeartRate(item)">Print</button>
        </td>
      </tr>
    </tbody>
  </table>
</div> -->
<!-- <div *ngFor="let item of hospitalData ; let i = index">
  <button class="btn btn-primary" (click)="getHeartRate(item)">View Report</button>
</div> -->

Loading please wait...